/*
 * Overrides for basic pages
 */

/* See bootstrap jumbotron narrow for these */

/*
body {
  background-image: url("/assets/photos/2018/P9090454.JPG");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
*/

.footer {
  margin-top: 20px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.bikereg {
  margin-left: 5px;
}

.splash-img {
  width: 100%;
}

/* Tweaks to Carousel */

/* Carousel base class */

.carousel {
  /* width: 750px; */
  margin: 0 auto;
}

#logoCarousel .item {
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}
#logoCarousel .active.left {
    left:0;opacity:0;z-index:2;
}
#logoCarousel .next {
    left:0;opacity:1;z-index:1;
}

.carousel-caption {
  padding: 5px;
  position: relative;
  left: auto;
  right: auto;
}

.carousel-caption .btn {
  margin-left: 5px;
}

/*
.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}

.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .btn {
  margin-top: 10px;
}
*/

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
