<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="assets/img/favicon.ico"> -->

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap-superhero.min.css" rel="stylesheet">
    <!-- Custom styles for page template -->
    <link href="/css/page.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      {% include nav.html %}
      {{ content }}

      <!-- Site footer -->
      <div class="footer">
        <p>
          &copy; Cabot Connects<br />
          <a href="https://facebook.com/cabotconnects">
            <img src="{{site.base_url}}img/FB_FindUsOnFacebook-144.png">
          </a>
        </p>
      </div>

    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>


